In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('DATASETS/2017_-_Cities_Community_Wide_Emissions (1).csv')

In [3]:
df1.head(5)

,Account number,Organization,City,Country,Region,C40,Access,Reporting year,Accounting year,Boundary,...,Population year,GDP,GDP Currency,GDP Year,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Location,Country Location
0,49363,Nelson Mandela Bay Municipality,Nelson Mandela Bay,South Africa,Africa,NaN,Public,2017,2013-07-01 - 2014-06-30,A metropolitan area,...,2011,5.214700e+04,ZAR South African Rand,2010.0,Built Environment Performance Plan(BEPP),17.5,69.0,1950.0,"(-33.745241, 25.568108)","(-30.559482, 22.937506)"
1,31171,Ayuntamiento de Madrid,Madrid,Spain,Europe,C40,Public,2017,2014-01-01 - 2014-12-31,Administrative boundary of a local government,...,2016,1.293780e+11,EUR Euro,2015.0,Contabilidad Municipal Trimestral. Ciudad de M...,15.0,655.0,604.0,"(40.1076253, -3.3875673)","(40.463667, -3.74922)"
2,3417,New York City,New York City,USA,North America,C40,Public,2017,2015-01-01 - 2015-12-31,Administrative boundary of a local government,...,2016,1.558520e+12,USD US Dollar,2015.0,http://www.brookings.edu/research/reports2/201...,13.0,10.0,784.0,"(40.7127837, -74.0059413)","(37.09024, -95.712891)"
3,59537,"City of Denton, TX","Denton, TX",USA,North America,NaN,Public,2017,2015-01-01 - 2015-12-31,Administrative boundary of a local government,...,2015,NaN,NaN,NaN,NaN,18.2,192.0,227.8,"(33.214841, -97.133068)","(37.09024, -95.712891)"
4,35894,Ville de Montreal,Montreal,Canada,North America,C40,Public,2017,2013-01-01 - 2013-12-31,A metropolitan area,...,2013,1.154128e+08,CAD Canadian Dollar,2013.0,Institut de la statistique du Québec,6.8,17.0,500.0,"(45.5086699, -73.5539925)","(56.130366, -106.346771)"

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int64
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          217 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
dtypes: float64(8), int64(4), object(19)
memory usage: 55.6+ KB

In [6]:
print('Dataset dimensions:', df1.shape)
print('Does the dataset contain NA?', df1.isna().any().any())
print('Data types in dataset:')
print(df1.dtypes.value_counts())

Dataset dimensions: (229, 31)
Does the dataset contain NA? True
Data types in dataset:
object     19
float64     8
int64       4
dtype: int64

**Interesting features**:
- City
- Country
- Reporting Year
- Total emissions (metric tonnes CO2e)
- Total Scope 1 Emissions (metric tonnes CO2e)

    Definition: Scope 1 includes on-site fossil fuel combustion and fleet fuel consumption.
    

- Total Scope 2 Emissions (metric tonnes CO2e)

    - Scope 2 includes emissions that result from the generation of electricity, heat or steam purchased by the Agency from a utility provider.
    - Scope 3 emissions include employee travel and commuting.
    - Scope 3 also includes emissions associated with contracted solid waste disposal and wastewater treatment.
    - Some Scope 3 emissions can also result from transportation and distribution (T&D) losses associated with purchased  electricity.
    
    source: https://www.epa.gov/greeningepa/greenhouse-gases-epa
    
    
- GDP
- GDP Currency
- GDP Year
- Land area (in square km)
- Population

In [9]:
df1.columns

Index(['Account number', 'Organization', 'City', 'Country', 'Region', 'C40',
       'Access', 'Reporting year', 'Accounting year', 'Boundary', 'Protocol',
       'Protocol column', 'Gases included',
       'Total emissions (metric tonnes CO2e)', 'Scopes Included ',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)', 'Comment',
       'Increase/Decrease from last year',
       'Reason for increase/decrease in emissions', 'Population',
       'Population year', 'GDP', 'GDP Currency', 'GDP Year', 'GDP Source',
       'Average annual temperature (in Celsius)​', '​Average altitude (m)',
       '​Land area (in square km)', 'City Location', 'Country Location'],
      dtype='object')

In [16]:
df1 = df1.rename(columns={'​Land area (in square km)': 'Area'})

In [20]:
FEATURES_1 = ['City', 'Country', 'Reporting year', 'Gases included',
       'Total emissions (metric tonnes CO2e)', 'Scopes Included ',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)', 
       'Population',
       'Population year', 'GDP', 'GDP Currency', 'GDP Year', 
       'Area']

In [21]:
df1 = df1[FEATURES_1]

In [24]:
NUMERICAL = df1.select_dtypes('number').columns
CATEGORICAL = df1.select_dtypes('object').columns
print("Numerical:", NUMERICAL)
print("Categorical:", CATEGORICAL)

Numerical: Index(['Reporting year', 'Total emissions (metric tonnes CO2e)',
       'Total Scope 1 Emissions (metric tonnes CO2e)',
       'Total Scope 2 Emissions (metric tonnes CO2e)', 'Population',
       'Population year', 'GDP', 'GDP Year', 'Area'],
      dtype='object')
Categorical: Index(['City', 'Country', 'Gases included', 'Scopes Included ',
       'GDP Currency'],
      dtype='object')

In [27]:
df1[FEATURES_1].nunique()

City                                            229
Country                                          48
Reporting year                                    1
Gases included                                   12
Total emissions (metric tonnes CO2e)            217
Scopes Included                                   2
Total Scope 1 Emissions (metric tonnes CO2e)    173
Total Scope 2 Emissions (metric tonnes CO2e)    172
Population                                      228
Population year                                   8
GDP                                             179
GDP Currency                                     27
GDP Year                                          7
Area                                            216
dtype: int64

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   City                                          229 non-null    object
 1   Country                                       229 non-null    object
 2   Reporting year                                229 non-null    int64
 3   Gases included                                111 non-null    object
 4   Total emissions (metric tonnes CO2e)          217 non-null    float64
 5   Scopes Included                               229 non-null    object
 6   Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 7   Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 8   Population                                    229 non-null    int64
 9   Population year                               229 non-null    int64
 10  GDP                                           181 non-null    float64
 11  GDP Currency                                  184 non-null    object
 12  GDP Year                                      185 non-null    float64
 13  Area                                          228 non-null    float64
dtypes: float64(6), int64(3), object(5)
memory usage: 25.2+ KB

In [35]:
df1['Scopes Included '].value_counts()

Total Scope 1 and Scope 2                                           116
Total Scope 1, Scope 2 and Waste Scope 3 (Total BASIC emissions)    113
Name: Scopes Included , dtype: int64

So I believe we should use this dataset as our base dataset and do feature engineering ontop of this.

We have our target value explicityly here with important population and area features which we can get city density from. Also we can use the city and country features to do joins on other data sets to bring in transport sector statistics like from your first EDA.